html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* Desktop */
.Desktop {
    width: 100vw;
    height: 100vh;
    background-color: #008080;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.WINDOW {
    border: solid;
    width: 128px;
    padding: 16px;
    position: absolute;
}

/* Taskbar */
.Taskbar {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 32px;

    background-color: #bfbfbf;

    display: none;
    align-items: center;
}
.Clock {
    margin-left: auto;
    margin-right: 8px;

    height: 24px;

    font-family: Arial, sans-serif;
    font-size: 14px;
}
/* START Button */
.StartButton {
    height: 32px;
    display: flex;
    align-items: center;
}

.Start-Button {
    width: 32px;
    height: 32px;

    padding: 0;

    background-color: #bfbfbf;
    border: 1px solid #000000;

    cursor: pointer;
}

.Start-Button img {
    width: 32px;
    height: 32px;
    display: block;
}
