/*WINDOWS*/

#Windows {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  display: none;
}

#Windows-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #808080;
  color: #ffffff;
}

#Close-Button {
    color: #808080;
    background-color: #575757;
    border: 2px solid #808080;
}
#Minimize-Button {
    color: #808080;
    background-color: #575757;
    border: 2px solid #808080;
}
#Maximize-Button {
    color: #808080;
    background-color: #575757;
    border: 2px solid #808080;
}
